* {
    margin: 0;
    padding: 0;
    /* background-color: #E5E5E5; */

}

/* Header */

.nav-container {
    display: flex;
    justify-content: space-between;
    margin-left: 423px;
    margin-right: 423px;
}

.nav-list {
    display: flex;
    list-style: none;
}

.nav-ul {
    border-bottom: 0.5px solid #4B6049;
    height: 90px;
}


.nav-ul>ul {
    display: flex;
    list-style: none;

}

.nav-ul>ul>li {

    margin-top: 56px;
    margin-bottom: 56px;
    font-family: 'Candara';
    font-weight: 400;
    font-style: Light;
    font-size: 26px;
    line-height: 32px;
    color: #484847;
}

.border-left>a {
    margin-left: 14.5px;
    margin-right: 25px;
    text-decoration: none;
    font-family: 'Candara';
    font-weight: 400;
    font-style: Light;
    font-size: 26px;
    line-height: 32px;
    color: #484847;
}

.border-right>a {
    margin-right: 14.5px;
    text-decoration: none;
    font-family: 'Candara';
    font-weight: 400;
    font-style: Light;
    font-size: 26px;
    line-height: 32px;
    color: #484847;
}

.border-middle>a {
    margin-right: 25px;
    text-decoration: none;
    font-family: 'Candara';
    font-weight: 400;
    font-style: Light;
    font-size: 26px;
    line-height: 32px;
    color: #484847;
}

.logo-header {
    margin-top: 11px;
    margin-bottom: 0px;
}

.nav-img {
    margin-left: 37px;
    margin-top: 54px;
    margin-bottom: 54px;
}

.nav-img>a {
    margin-left: 20px;
}

.nav-ul-media {
    display: none;
}

.nav-btn {
    display: none;
}

.burger {
    display: flex;
    position: relative;
    align-items: center;
    z-index: 50;
    width: 24px;
    height: 12px;
}

.burger>span {
    height: 2px;
    width: 100%;
    transform: scale(1);
    background-color: #4B6049;
}

.burger::before,
.burger::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: #4B6049;
    transition: all 0.3s ease 0s;
}

.burger::before {
    top: 0;
}

.burger::after {
    bottom: 0;
}

.burger.active span {
    transform: scale(0)
}

.burger.active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0, -50%);
}

.burger.active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0, 50%);
}


/* Section info */

.arrow-media {
    display: none;
}

.info-container {
    margin-left: 423px;
    margin-right: 423px;
    margin-top: 18px;

}

.info-title {
    font-family: Candara;
    font-style: Regular;
    font-size: 40px;
    line-height: 49px;
    font-weight: 400;
    color: #000000;
    margin-left: 66px;
}

.icon-info {
    margin-top: 50px;
    margin-left: 841px;
}

.icon-info>p {
    position: absolute;
    margin-top: 18px;
    margin-left: 64px;
    font-family: Candara;
    font-weight: 400;
    font-style: Light;
    font-size: 26px;
    line-height: 32px;
    color: #FFFBF5;

}

.akne-info {
    margin-top: 30px;
}

.akne-img {
    float: left;
}

.akne-text {
    font-family: Candara;
    font-weight: 400;
    font-style: Regular;
    font-size: 20px;
    line-height: 24px;
    line-height: 100%;
    color: #484847;
    margin-left: 522px;
    padding-top: 51px;
    height: 449px;
}

.text-indent {
    text-indent: 25px;
}

.akne-info-media {
    display: none;
}

.akne-info-two-media {
    display: none;
}

.info-container-text {
    padding-top: 30px;
    font-family: Candara;
    font-weight: 400;
    font-style: Regular;
    font-size: 20px;
    line-height: 24px;
    line-height: 100%;
    color: #484847;
}

.akne-text-two {
    font-family: Candara;
    font-weight: 400;
    font-style: Regular;
    font-size: 20px;
    line-height: 24px;
    line-height: 100%;
    color: #484847;
    padding-top: 51px;
    height: 449px;
    float: left;
}

.akne-img-two {
    margin-left: 574px;
}

.akne-info-two {
    margin-top: 72px;
}

.info-container-text-two {
    padding-top: 30px;
    font-family: Candara;
    font-weight: 400;
    font-style: Regular;
    font-size: 20px;
    line-height: 24px;
    line-height: 100%;
    color: #484847;
}

.info-title-media {
    display: none;
}

.info-container-text-media {
    display: none;
}


/* Footer */
.footer-container {
    display: flex;
    justify-content: flex-start;
    margin-top: 8px;
    width: 1920px;
    height: 192px;
    background-color: #4B6049;
}

.footer-icons {
    margin-left: 1253px;
    margin-top: 68px;
}

.footer-list-one>ul,
.footer-list-two>ul,
.footer-list-three>ul {
    list-style: none;
    font-family: Candara;
    font-style: Light;
    font-size: 20px;
    line-height: 30px;
    color: #FFFBF5;
    margin-top: 35px;
    padding-top: 3px;
}

.footer-list-one>ul {
    margin-left: 87px;
    margin-right: 39px;
}

.footer-list-three>ul {
    margin-left: 53px;

}

.logo-footer {
    margin-top: 29px;
    margin-left: 439px;

}

.footer-visa-pay {
    margin-top: 15px;
    margin-left: 109px;
    display: flex;
    align-items: center;
}

.footer-media {
    display: none;
}



@media (max-width: 376px) {

    /* Header */

    .open {
        display: flex !important;
    }

    .nav-btn {
        display: flex;
        cursor: pointer;
        margin-top: 27px;
    }

    .burger {
        display: flex;
        margin-top: 6px;
        margin-right: 21px;
        margin-left: 21px;

    }

    .nav-ul-media {
        font-family: 'Candara';
        font-weight: 400;
        font-style: Regular;
        font-size: 18px;
        line-height: 22px;
        display: none;
        flex-direction: column;
        position: fixed;
        height: 100%;
        width: 100%;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: 50;
        overflow-y: auto;
        padding: 90px 40px;
        animation: burgerAnimation 0.4s;

    }

    .nav-ul-media>ul {
        flex-direction: column;
        row-gap: 30px;
        list-style: none;


    }

    .nav-contact {
        margin-right: 21px;
    }


    .logo-header {
        display: block;
        cursor: pointer;
        margin-left: 18px;
    }

    .logo-header>img {
        width: 150px;
        height: 86px;
    }

    .nav-list {
        display: none;
    }

    .nav-container {
        display: flex;
        justify-content: space-between;
        height: 86px;
        margin: 0;
        padding: 0;
    }




    /* Section info */

    .info-container {
        margin: 0;
    }

    .arrow-media,
    .info-title-media {
        display: block;
        margin-left: 16px;
        font-family: Candara;
        font-style: Regular;
        font-size: 18px;
        line-height: 22px;
        font-weight: 400;
        color: #000000;

    }

    .arrow {
        display: none;
    }

    .info-title {
        display: none;
    }


    .icon-info {
        display: none;
    }

    .akne-info {
        display: none;
    }

    .akne-info-media {
        display: block;
        margin: 0;
        padding: 0;
    }

    .akne-text-media {
        margin-left: 16px;
        margin-top: 10px;
        font-family: Candara;
        font-weight: 400;
        font-style: Regular;
        font-size: 14px;
        line-height: 17px;
        line-height: 100%;
        color: #484847;

    }

    .text-indent-media {
        text-indent: 25px;
    }

    .akne-img-media {
        display: block;
        margin-top: 10px;
    }

    /* Info Container */

    .info-container-text {
        display: none;
    }

    .info-container-text-media {
        display: block;
        margin-top: 10px;
        margin-left: 16px;
        font-family: Candara;
        font-weight: 400;
        font-style: Regular;
        font-size: 14px;
        line-height: 17px;
        line-height: 100%;
        color: #484847;

    }

    .akne-info-two {
        display: none;
    }

    .akne-info-two-media {
        display: block;
    }

    .info-container-text-two {
        display: none;
    }



    /* Footer */

    .footer {
        display: none;
    }

    .footer-media {
        display: block;
        margin: 0;
        padding: 0;
    }

    .footer-icons-media {
        margin-left: 164px;
        margin-top: 18px;
    }

    .footer-container-media {
        margin: 0;
        padding: 0;
        height: 271px;
        background-color: #4B6049;
    }

    .logo-footer-media {
        margin-left: 16px;
    }

    .footer-text-one-media {
        margin-top: 20px;
        margin-left: 16px;
    }

    .footer-list-two-media {
        float: left;
    }

    .footer-text-two-media {
        margin-top: 39px;
        margin-left: 16px;
    }

    .footer-list-one-media {
        float: left;
    }

    .footer-list-three-media,
    .footer-list-four-media {
        margin-left: 172px;
    }

    .footer-list-two-media>ul,
    .footer-list-three-media>ul,
    .footer-list-one-media>ul,
    .footer-list-four-media>ul {
        list-style: none;
        font-family: Candara;
        font-weight: 400;
        font-style: Light;
        font-size: 14px;
        line-height: 17px;
        color: #FFFBF5;
    }

    .footer-visa-pay-media {
        display: flex;
        align-items: center;
        margin-top: 48px;
        margin-left: 164px;
    }
}